@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Inicio</h1>
    <p>Clickea un pais para ir a sus detalles</p>
    <form action="DetallePais" method="post" class="form-crear text-center" name="creador">
        <input type="text" class="form-control" name="idPais" placeholder="idPais" required id="idPais" hidden>
        <table class="table">
            <tbody>
                <tr>
                    @for (int i = 0; i < @ViewBag.cant; i++) {
                        <td class="contenedor-imagen">
                           <p>HOLA</p>
                        </td>
                    }  
                </tr>
            </tbody>
        </table>
    </form>
</div>