html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* -----------------------------------------------------------------------------------------------------*/

.form-crear {
  width: 100%;
}

.completables{
  display: flex;
  justify-content: space-between;
}

/* -----------------------------------------------------------------------------------------------------*/

.table{
  margin-top: 15px;
  border: solid 1px black;
}

.imagenTabla{
  height: 100px;
  width: auto;
}

.select {
  border: 5px solid;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}